<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955693178050-f3vmbgkej1i8fhkfsfbcuerc6257dhuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955693178050-f3vmbgkej1i8fhkfsfbcuerc6257dhuu</string>
	<key>API_KEY</key>
	<string>AIzaSyBLFkqsJv41PA3FtcXL-ukTwy4Jks1Txmo</string>
	<key>GCM_SENDER_ID</key>
	<string>955693178050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eLeaning2</string>
	<key>PROJECT_ID</key>
	<string>udamely-9f952</string>
	<key>STORAGE_BUCKET</key>
	<string>udamely-9f952.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955693178050:ios:849060d20d17b1666e6f5b</string>
</dict>
</plist>